.LyonTextOSFWeb-Bold { 		
	font-family: 'Lyon Text OSF Web';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	}

.LyonTextOSFWeb-Reg { 		
	font-family: 'Lyon Text OSF Web';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	}




@font-face {
	font-family: 'Lyon Text OSF Web';
	src: url('Lyon Text OSF Web-Bold.eot');
	src: url('Lyon Text OSF Web-Bold.eot?#iefix') format('embedded-opentype'),
		 url('Lyon Text OSF Web-Bold.woff') format('woff'),
		 url('Lyon Text OSF Web-Bold.ttf') format('truetype'),
		 url('Lyon Text OSF Web-Bold.svg#Lyon Text OSF Web') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	}


@font-face {
	font-family: 'Lyon Text OSF Web';
	src: url('Lyon Text OSF Web-Reg.eot');
	src: url('Lyon Text OSF Web-Reg.eot?#iefix') format('embedded-opentype'),
		 url('Lyon Text OSF Web-Reg.woff') format('woff'),
		 url('Lyon Text OSF Web-Reg.ttf') format('truetype'),
		 url('Lyon Text OSF Web-Reg.svg#Lyon Text OSF Web') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	}